# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
moneta/examples/build/*
moneta/output/*

# IPython checkpoints
.ipynb_checkpoints

# Exclusions
!.gitkeep

# Swap
*.swp
*.swo

# Package egg
*.egg-info

# Pin error
**/pin.log

.DS_Store
*~
*.so
*.gz
*.hdf5
*.csv
*.txt
*.o
\#*
core
.cwd_history
*.meta
*.stats
*.tags
venv

