aplus==0.11.0
arrow==0.15.5
astropy==4.0.1.post1
binaryornot==0.4.4
boto3==1.12.36
botocore==1.15.36
bqplot==0.12.6
branca==0.3.1
cachetools==4.0.0
cookiecutter==1.7.0
docutils==0.15.2
future==0.18.2
iniconfig==1.0.1
ipydatawidgets==4.0.1
ipyleaflet==0.12.3
ipyvolume==0.5.2
ipyvue==1.3.0
ipyvuetify==1.2.2
ipywebrtc==0.5.0
jinja2-time==0.2.0
jmespath==0.9.5
more-itertools==8.4.0
nodejs==0.1.1
optional-django==0.1.0
pluggy==0.13.1
poyo==0.5.0
progressbar2==3.50.1
py==1.10.0
pyarrow==0.16.0
PyOpenGL==3.1.5
pytest==6.0.1
python-utils==2.4.0
pythreejs==2.2.0
s3fs==0.2.2
s3transfer==0.3.3
tabulate==0.8.7
toml==0.10.1
traittypes==0.2.1
urllib3==1.25.8
vaex-arrow==0.4.2
vaex-astro==0.6.1
vaex-core==1.5.0
vaex-hdf5==0.5.6
vaex-jupyter==0.4.1
vaex-server==0.2.1
vaex-ui==0.3.0
vaex-viz==0.3.8
whichcraft==0.6.1
widgetsnbextension==3.5.1
xarray==0.15.1
pandas==1.3.1
